@{
    Layout = "CoordinadorLayout";
}
<!DOCTYPE html>
<html lang="en">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function img_pathUrl(input){
        $('#img_url')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
    }
</script>

<head>
	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>

	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
                
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>
                <h1 style="color:#004879">Detalles de la actividad</h1>
                <div class="cont-formulario">
                    <div>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Nombre: @ViewBag.actividad.nombre </h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Tipo: @ViewBag.actividad.tipo</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Responsable: </h3><br>
                            @foreach (var resp in @ViewBag.actividad.responsables)
                            {
                                <p>- @resp.nombreCompleto</p>
                            }
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Fecha y hora: @ViewBag.actividad.fechaHora</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Modalidad: @ViewBag.actividad.modalidad</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>
                    
                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Fecha de anuncio: @ViewBag.actividad.fechaAnuncio</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Días previos de aviso: @ViewBag.actividad.diasPreviosAnuncio</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Estado: @ViewBag.actividad.estado</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>
                    
                    </div>
                    
                    <div>
                        <img src="https://edit.org/photos/img/blog/3j8-bienvenido-colegio-cartel-plantilla-editable-online.jpg-840.jpg" style="width:475px;height:690;">



                    </div>          
                </div>                
			</div>
            
		</div>
    </div>	
</body>

</html>