@{
  ViewData["Title"] = "Gestión de profesores";
  Layout = "AsistenteLayout";
}


<script>
  function buscar() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("busq");
    filter = input.value.toUpperCase();
    table = document.getElementById("tablaProfesores");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #b7c0c0;
}
</style>

<div class="text-center">
  <div style="display: flex; justify-content: space-between;">
  <span><button type="button" class = "button-67" onclick="location.href='@Url.Action("AsistenteProximaActividad", "Controlador")'">Ver próxima actividad del equipo</button></span>
  <span></span><h1 style="color: #004879; font-size: 80x">Estudiantes del equipo</h1></span>
  <span></span><button type="button" class = "button-67" onclick="location.href='@Url.Action("AsistenteProfesoresEquipo", "Controlador")'">Profesores del equipo</button></span>
  </div><br>
  <div style="display: flex; flex-direction: column " class="justify">
    <div style="align-self: start;">
    <span><input class="search-bar" type="text" id="busq" onkeyup="buscar()" placeholder="Buscar estudiante..."></span>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <span><button type="button" class = "button-66">Modificar equipo guía</button></span>
    </div>
    <table id="tablaProfesores" style="margin-top: 60px;" class="table">
      <thead>
        <tr style="background: #89D2CF">
          <th style="color:black; font-size:110%; width:5%" >ID</th>
          <th style="color:black; font-size:110%" onclick="sortTable(0)">Nombre</th>
          <th style="color:black; font-size:110%; width:15%" onclick="sortTable(0)">Campus</th>
          <th style="color:black; font-size:110%">Correo electrónico</th>
          <th style="color:black; font-size:110%" onclick="sortTable(0)">Carnet</th>
        </tr>

      </thead>
      <tbody>

          @foreach (var unEstudiante in ViewBag.estudiantes)
        {
          <tr>
            <td align="center"> @unEstudiante.id </td>
            <td align="center"> @unEstudiante.nombreCompleto</td>
            <td align="center"> @unEstudiante.centroAcademico </td>
            <td align="center"> @unEstudiante.correoElectronico </td>
            <td align="center"> @unEstudiante.carnet </td>
          </tr>
        }  
        
      </tbody>
    </table>
  </div>
</div>