@{
    Layout = "ProfesoresLayout";
}
<!DOCTYPE html>
<html lang="en">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function img_pathUrl(input){
        $('#img_url')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
    }
</script>

<head>
	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>

	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
                
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>
                <title>Registro</title>
                <h1 style="color:#004879">Detalles de la actividad</h1>
                <div class="cont-formulario">
                    <div>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Nombre: @ViewBag.actividad.nombre </h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Tipo: @ViewBag.actividad.tipo</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Responsable: </h3><br>
                            @foreach (var resp in @ViewBag.actividad.responsables)
                            {
                                <p>- @resp.nombreCompleto</p>
                            }
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Fecha y hora: @ViewBag.actividad.fechaHora</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Modalidad: @ViewBag.actividad.modalidad</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>
                    
                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Fecha de anuncio: @ViewBag.actividad.fechaAnuncio</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Días previos de aviso: @ViewBag.actividad.diasPreviosAnuncio</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Estado: @ViewBag.actividad.estado</h3><br>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>
                    
                    </div>
                    
                    <div>
                        <img src="data:image;base64,@Convert.ToBase64String(@ViewBag.actividad.afiche)">



                    </div>          
                </div> 

                <div style="display:flex;justify-content:space-between;">
                    <button style="align-self: center;" class="btn-not" type="submit" onclick="location.href='/Controlador/activarPublicacion?id=@ViewBag.actividad.idActividad'" > Activar notificaciones</button><br><br><br>
                    <button style="align-self: center;" class="btn-rlz" type="submit" onclick="location.href='/Controlador/marcarRealizada?id=@ViewBag.actividad.idActividad'" > Realizada</button><br><br><br>
                    <button style="align-self: center;" class="btn-delete"  onclick="location.href='/Controlador/marcarCancelada?id=@ViewBag.actividad.idActividad'"> Cancelar</button><br><br><br>
                </div><br><br>

                <hr><br>

                <div>
                    <h4 style="color:#004879">Sección de comentarios</h4><br>
                    
                     @foreach (var unComentario in ViewBag.actividad.listaComentarios){
                    <div class="container bootstrap snippets bootdey">
                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="blog-comment">
                                    <ul class="comments">
                                    <li class="clearfix">

                                    <img src="data:image;base64,@Convert.ToBase64String(@unComentario.emisor.fotografia)" class="avatar" alt="">
                                    <div class="post-comments">
                                        <p class="meta">@unComentario.fechaHora <a >@unComentario.emisor.nombreCompleto</a> dice : <i class="pull-right"><a><small name="rep1" id="@unComentario.idComentario" onclick="responderA(@unComentario.idComentario)" style="float:right;color:blue;cursor:pointer;" >Responder</small></a></i></p>
                                        <p>
                                            @unComentario.cuerpo
                                        </p>                                        
                                    </div>
                                    <div >
                                    <form style="display:flex;justify-content:space-between" action="@Url.Action("realizarRespuestaConf", "Controlador")" method="post">
                                            <textarea class="form-control cajitaResp" name="respuesta"rows="2" placeholder="Respuesta..." id="respuesta+@unComentario.idComentario" style="display: none;margin-left:85px;"></textarea>
                                            <input type="hidden" id="idComentarioR" name="idComentarioR" value="@unComentario.idComentario" />
                                    
                                    <button id="btnResp+@unComentario.idComentario" style="display: none;height:100%;" class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Responder </button>
                                    </form>
                                    </div>
                                    @foreach (var resp in @unComentario.listaRespuestas)
                                    {
                                    <ul class="comments">
                                        <li class="clearfix">
                                            <img src="data:image;base64,@Convert.ToBase64String(@resp.emisor.fotografia)" class="avatar" alt="">
                                            <div class="post-comments">
                                                <p class="meta">@resp.fechaHora <a>@resp.emisor.nombreCompleto</a> dice : <i class="pull-right"></i></p>
                                                <p>
                                                    @resp.cuerpo
                                                </p>
                                            </div>
                                        </li>
                                    </ul>}
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>

                <div class="panel">
  <div class="panel-body">
    <form action="@Url.Action("realizarComentario", "Controlador")" method="post">
    <textarea class="form-control" name="comentario"rows="2" placeholder="Escribe tu comentario"></textarea>
    <div class="mar-top clearfix">
    <input type="hidden" id="idActividadc" name="idActividadc" value="@ViewBag.actividad.idActividad" />
      <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Comentar </button>
    </div>
    </form>
  </div>

                       
			</div>
            
		</div>
    </div>	


<script>
    function responderA(idr){
        console.log("Es idr es: "+idr);
        document.getElementById("respuesta+"+idr).style.display = "block";
        document.getElementById("btnResp+"+idr).style.display = "block";
    }

</script>
</body>

</html>