@{
  ViewData["Title"] = "Gestión de profesores";
  Layout = "EstudiantesLayout";
}


<script>
  function eliminar() {
    if (confirm("¿Desea eliminar este estudiante") == true) {
      return true;
    }
    else {
      return false;
    }
  }
  function buscar() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("busq");
    filter = input.value.toUpperCase();
    table = document.getElementById("tablaProfesores");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
  <div class="text-center">
    <div style= "display:flex;justify-content:space-between">
      <h1 style="color: #004879; font-size: 80x">Buzón de notificaciones</h1>
      <button class="btn-delete" onclick='window.location = "@Url.Action("eliminarTodasNotificaciones", "Controlador")";'>Vaciar buzón</button>
    </div><br><br>
    <div style="display: flex; flex-direction: column ">
@foreach (var item in ViewBag.notificaciones)
{
  @if(item.estado=="LEIDA"){
        <a style="width: fit-content;"href="/Controlador/unaNotificacion?id=@item.idNotificacion">
        <div style="background-color:white;border-radius:10px;border-style:groove;width: fit-content;padding: 10px 200px 10px 10px;cursor:pointer;border-color:deepskyblue;">
                <h5 align="left">De: @item.emisor </h5>
                <p align="left"> @item.contenido </p>
                <p align="left"> Fecha: @item.fecha</p>
        </div></a><br>
  }
  else{
    <a style="width: fit-content;"href="/Controlador/unaNotificacion?id=@item.idNotificacion">
        <div style="background-color:white;border-radius:10px;border-style:groove;width: fit-content;padding: 10px 200px 10px 10px;cursor:pointer;border-color:darkblue;">
                <h5 align="left">De: @item.emisor </h5>
                <p align="left"> @item.contenido </p>
                <p align="left"> Fecha: @item.fecha</p>
        </div></a><br>
  }
}
</div>      
  </div>
  