@{
    Layout = "CoordinadorLayout";
}
<!DOCTYPE html>
<html lang="en">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function img_pathUrl(input){
        $('#img_url')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
    }
</script>

<head>
	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>

	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<form method="post" action="@Url.Action("modificarEstudianteConf", "Controlador")">
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
                
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>
                <title>Registro</title>
                <h1 style="color:#004879"> Editar información de estudiante</h1>
                <div>
                    <div>
                        <input type="hidden" id="idE" name="idE" value="@ViewBag.Estudiante.idEstudiante">
                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Carne</h3><br>
                            <h3> <input class = "login-entry" type="text" id="carne" name="carne" value="@ViewBag.Estudiante.carne"><br> </h3>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Nombre completo</h3><br>
                            <h3> <input class = "login-entry" type="text" id="nombre" name="nombre" value="@ViewBag.Estudiante.nombreCompleto"><br> </h3>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Sede</h3><br>
                            <select name="sede" id="sede" class = "login-entry">
                                <option value="1">Cartago</option>
                                <option value="2">San José</option>
                                <option value="3">Limón</option>
                                <option value="4">Alajuela</option>
                                <option value="5">San Carlos</option>
                            </select>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Correo electrónico</h3><br>
                            <h3> <input class = "login-entry" type="text" id="correo" name="correo" value="@ViewBag.Estudiante.correoElectronico"><br> </h3>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Teléfono celular</h3><br>
                            <h3> <input class = "login-entry" type="text" id="telefonoCelular" name="telefonoCelular" value="@ViewBag.Estudiante.telefonoCelular"><br> </h3>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>
                        
                    </div>              
                </div>                
			</div>
            
		</div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <button style="align-self: center;" class="btn-accept" type="submit">Modificar información</button>
        </div>
    </div>
	</form>
	
</body>

</html>